.panel-izquierdo .contenedor-juego {
  background: url("/img/bingo90/juego-Fon.png");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
}
@media screen and (min-width: 540px) {
  .panel-izquierdo .contenedor-juego {
    height: calc(94vh - 5.8rem);
  }
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego {
    height: calc(90vh - 5.8rem);
  }
}
@media screen and (min-width: 992px) {
  .panel-izquierdo .contenedor-juego {
    padding-bottom: 0.5rem;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-datos {
  font-weight: 900;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
  margin: 1rem 0.3rem;
}
.panel-izquierdo .contenedor-juego .contenedor-datos img {
  width: 60%;
  align-self: center;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos {
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }
  .panel-izquierdo .contenedor-juego .contenedor-datos img {
    width: 40%;
    align-self: stretch;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos img {
    width: auto;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos {
  display: flex;
  flex-direction: column;
  background: rgba(2, 150, 227, 0.5);
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos .datos {
    padding: 1.5rem 1rem;
    flex-direction: row;
    flex: 1;
  }
}
@media screen and (min-width: 992px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos .datos {
    flex: initial;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .tipo, .panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato {
  text-align: center;
  margin: 0.2rem 0;
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos .datos .tipo, .panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato {
    width: 33.3333%;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .tipo {
  display: flex;
  flex-direction: column;
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .tipo .grilla {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: 1px solid white;
  border-right: 1px solid white;
  height: 2rem;
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .tipo .grilla .cuadrado {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato {
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato {
    font-size: 1rem;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-datos .datos .dato p {
  background: rgba(2, 227, 227, 0.5);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.2rem 0;
}
.panel-izquierdo .contenedor-juego .contenedor-cartones {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
.panel-izquierdo .contenedor-juego .contenedor-cartones h1 {
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-cartones h1 {
    padding: 0 1rem;
    font-size: 1.8rem;
    align-self: flex-start;
    text-align: left;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton {
  background: url("/img/bingo90/fon.png");
  background-size: cover;
  background-position: center;
  margin: 0.3rem 0;
  padding: 0.1rem 0.5rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .panel-izquierdo .contenedor-juego .contenedor-cartones .carton {
    min-height: 35%;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton .cabecera {
  display: flex;
  justify-content: space-between;
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton .cabecera img {
  object-fit: contain;
  width: 67%;
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton .datos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .panel-izquierdo .contenedor-juego .contenedor-cartones .carton .datos {
    padding: 0 1rem;
  }
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton .grilla {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: rgba(124, 81, 130, 0.5);
  border-top: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.panel-izquierdo .contenedor-juego .contenedor-cartones .carton .grilla .cuadrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  border-left: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  background: transparent;
  height: 10vw;
  filter: brightness(1.2);
}
@media screen and (min-width: 540px) {
  .panel-izquierdo .contenedor-juego .contenedor-cartones .carton .grilla .cuadrado {
    height: 6vw;
  }
}
@media screen and (min-width: 992px) {
  .panel-izquierdo .contenedor-juego .contenedor-cartones .carton .grilla .cuadrado {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .panel-izquierdo {
    height: calc(100vh - 6.4rem);
    width: 70vw;
  }
  .panel-izquierdo .contenedor-juego {
    height: 88%;
    flex-direction: row;
  }
  .panel-izquierdo .contenedor-juego .contenedor-datos {
    flex-direction: column;
    align-items: stretch;
  }
  .panel-izquierdo .contenedor-juego .contenedor-cartones {
    overflow: auto;
  }
  .panel-izquierdo .contenedor-juego .contenedor-datos, .panel-izquierdo .contenedor-juego .contenedor-cartones {
    width: 50%;
  }
}

.panel-derecho {
  background: #02e3e3;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  height: calc(100vh - 5.8rem);
}
@media screen and (min-width: 540px) {
  .panel-derecho {
    width: 45vw;
    padding: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .panel-derecho {
    width: 30vw;
    height: calc(100vh - 6.4rem);
  }
}
.panel-derecho .botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.panel-derecho .botones button {
  border: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.1rem 1.4rem;
  padding-bottom: 0;
}
.panel-derecho .botones button.activo {
  background: transparent;
}
.panel-derecho .botones button:not(.activo) {
  background: #306bba;
  color: white;
  border-radius: 0.2rem;
}
.panel-derecho .botones button:not(.activo):hover {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .panel-derecho .botones button {
    font-size: 2rem;
  }
}
.panel-derecho .grilla {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.4rem;
  width: 100%;
}
.panel-derecho .grilla .cuadrado {
  background: #306bba;
}

main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 540px) {
  main {
    flex-direction: row;
  }
}

.banner-publicidad {
  background: url("/img/bingo90/banner juego/2.png");
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
}
.banner-publicidad.movil {
  background: none;
  height: 2rem;
}
.banner-publicidad.movil img {
  object-fit: contain;
}
@media screen and (min-width: 540px) {
  .banner-publicidad {
    height: 6vh;
  }
}
@media screen and (min-width: 768px) {
  .banner-publicidad {
    height: 10vh;
  }
}
@media screen and (min-width: 992px) {
  .banner-publicidad {
    height: 12%;
  }
}

/*# sourceMappingURL=main.css.map */
